body
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', STHeiti, 'Microsoft Yahei', Tahoma, Simsun, Arial, sans-serif;
  user-select: none;
  line-height: 1.5;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow hidden
  background-color: #fafafa

*, *::after, *::before {
  box-sizing: border-box;
}
